<!--
  Generated template for the ShowCommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let comment of comments">
    <ion-card-content>
      <ion-card-title>
        {{comment.comment}}
      </ion-card-title>
    </ion-card-content>
      
  </ion-card> 
</ion-content>
