<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="submit-btn" full type="submit" (click)="signIn()">Login</button>
    </ion-row>
  </form>
  <div style="display:flex; justify-content:space-between; align-items:center; padding-top:10px; ">
    <span (click)="presentModal()">Forgot Password</span>
    <span (click)="goToRegistrationPage()">Not a Member?</span>
  </div>
</ion-content>
