<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>logout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


</ion-content>
