<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Posts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <ion-card *ngFor="let post of posts" >
        <img src="http://via.placeholder.com/200x150"/>
        <ion-card-content>
          <ion-card-title>
            {{post.title}}
            </ion-card-title>
          <p>
            {{post.description}}
          </p>
        </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <ion-icon name="text"></ion-icon>
                <div>share</div>
              </button>
            </ion-col>
          </ion-row>
      </ion-card> 
  
</ion-content>