<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-buttons end>
      <button ion-button (click)="ProfileModal()">
        <ion-icon name="Edit">Edit Profile</ion-icon>
      </button>
    </ion-buttons>
  <ion-card class="pro-content">
    <img class="user-pic" src = "http://placehold.jp/100x100.png">
    <button ion-button (click)="clickImage()">Upload Image</button>
    <img src="{{clickedImagePath}}" />
    <ion-card-content >
      <ion-card-title class="pro-title">
        {{singleuser.userfullname}}
      </ion-card-title>
      <ion-card-title class="pro-title">
        {{singleuser.useremail}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>  
</ion-content>
