page-profile {
    img.user-pic { 
        width: 125px!important;
        height: 125px!important;
        border-radius: 50%;
        margin: 10px auto;
        
    }
    .pro-title {
        text-align: center;
        padding: 0px;
        margin: 0px;
        margin-bottom:10px;
        font-size:16px;
    }
    .pro-content{
        text-align: center;
    }
    .left{
        float: right;
        margin-bottom: 10px; 
    }

}
