<!--
  Generated template for the ProfileEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button (click)="CloseModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Edit ProfileEdit</ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content padding>
    <form>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input type="text" placeholder="Name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Password" ></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button>Upload Image</button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <button ion-button class="submit-btn" full type="submit">Edit Profile</button>
        </ion-row>
      </form>

</ion-content>
