<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>registration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Address" name="adress" [(ngModel)]="address" required></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="submit-btn" full type="submit"  (click)="SignUp()">Sign Up</button>
    </ion-row>
  </form>
</ion-content>
