page-home {

    ion-textarea {
        border-bottom: 1px solid #000000;
        margin: 0px 5px;
    }
    p {
        text-align: justify;
    }
    .comment-box {
        overflow: scroll;
        height: 220px;
    }

}
