<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let post of posts; let i = index " >
    <img src="http://via.placeholder.com/200x150"/>
    <ion-card-content>
      <ion-card-title>
        {{post.title}} 
      </ion-card-title>
      <p>
        {{post.description}}
      </p>
    </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="Counter(post)">
            <ion-icon name="thumbs-up" ></ion-icon>
            <div>{{post.likecount?post.likecount:''}} &nbsp; Likes &nbsp; </div>
          </button>
        </ion-col>
        <ion-col>
         <button ion-button icon-start clear small (click)="CommentModal(post)">
            <ion-icon name="git-commit">&nbsp;Comment</ion-icon>
          </button> 
        </ion-col>
      </ion-row>
  </ion-card> 
</ion-content>

  <ion-footer>
    <ion-buttons end>
      <button ion-button (click)="postModal()">
        <ion-icon name="add">Created Post</ion-icon>
      </button>
    </ion-buttons>
  </ion-footer>
<!--
 Pixabay.com
Unsplash
pexel.com
-->