<ion-menu [content]="content" [persistent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <ion-avatar>
            <img class="circle-pic" src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918">
            <h5>Mrinmoy pal</h5>
      </ion-avatar>
        
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>