<!--
  Generated template for the CreatePostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="closePostModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create Post</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input type="text" placeholder="Title" name="title" [(ngModel)]="title" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Description" name="description" [(ngModel)]="description" required></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="submit-btn" full type="submit" (click)='PostShare()'>Share</button>

    </ion-row>
  </form>

    

</ion-content>
