<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button (click)="CloseModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Comments</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <ion-card-title>
          {{comment.comment}}
        </ion-card-title>
      </ion-card-content>
    </ion-card> 
</ion-content>

<ion-footer>
  <ion-card >
    <ion-card-content>
      <form>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-textarea placeholder="Comment" name="comment" [(ngModel)]="comment" ></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <button ion-button class="submit-btn" full type="submit" (click)='CommentSumit()'>Submit</button>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card> 
</ion-footer>
